table, th , td  {
    border: 1px solid grey;
    border-collapse: collapse;
    padding: 5px;
}
table tr:nth-child(odd) {
    background-color: #f1f1f1;
}
table tr:nth-child(even) {
    background-color: #ffffff;
}

#usersTable {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}
#reposTable {
    margin-left: auto;
    margin-right: auto;
}

#reposTable > td:nth-child(4), td > input {
    width: 1000px;
}

